
.log{
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: end;
    padding-right: 5%;
    align-items: center;
}
.log button{
    width: 100px;
    height: 60%;
    margin: 2%;
    color: white;
    font-size:medium;
    border-radius: 5px;
    border: 1px solid rgb(41, 40, 40);
    background-color: green;
}

.pdetails{
    margin-top: 5vh;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pdleft{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 40%;
    height: 100%;
    text-align: center;
    display: flex;
}
.pdl1{
    width: 15%;
    height: 100%;
}
.pdl2{
    width: 85%;
    height: 100%;
}
.pdleft .pdl2 img{
    height: 24rem;
    width: 24rem;
}
.pdleft button{
    width: 45%;
    height: 10%;
    margin: 2%;
    color: white;
    font-size:medium;
    border-radius: 5px;
    padding: 16px 24px;
    border: 1px solid rgb(49, 60, 179);
    background-color: rgb(49, 60, 179);
}
.butt button:hover {
    background-color: rgb(78, 90, 221);
    transform: scale(1.05);
}
/* .pdleft  #bt1 {
    position: absolute;
    left: 1%;
    bottom: 1%;
}
.pdleft  #bt2 {
    position: absolute;
    bottom: 1%;
    right: 1%;
} */
.pdright{
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width:60%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.price{
    font-size: large;
    display: flex;
}
.price h3{
    margin-right: 1%;
}
.price h4{
    color: gray;
}
.avail{
    color: red;
    font-weight: bold;
}
.r{
    background-color: black;
    padding: 4px;
    border-radius: 5px;
    color: white;
    margin-right: 1%;
}

.pdright .review {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.pdl1 img{
    width: 100%;

}
.pdl1 img:hover {
    transform: scale(1.1);
}